<?xml version="1.0"?>
<ruleset name="WP Healthcheck">
	<description>The coding standards for WP Healthcheck plugin.</description>

	<arg name="extensions" value="php"/>
	<arg value="s"/>

	<file>.</file>

	<exclude-pattern>/(vendor|languages|tests|node_modules)/*</exclude-pattern>
	<exclude-pattern>/index\.php</exclude-pattern>
	<exclude-pattern>/supervisor\.php</exclude-pattern>

	<rule ref="WPForms">
		<exclude name="WordPress.DB.DirectDatabaseQuery.NoCaching"/>
		<exclude name="Generic.CodeAnalysis.UnusedFunctionParameter.FoundAfterLastUsed"/>
	</rule>

	<rule ref="WPForms.PHP.ValidateDomain">
		<properties>
			<property name="supervisor" value="src/"/>
		</properties>
	</rule>

	<config name="minimum_supported_wp_version" value="5.5"/>
	<config name="testVersion" value="7.2-"/>
</ruleset>