@charset "UTF-8";

.wphc_welcome {
    margin-top: 5px;
}

.wphc_system_info {
  margin-bottom: 0.2em;
}

.wphc_system_info ul {
  border: 1px solid #3f4851;
  border-radius: 2px;
  display: inline-block;
  list-style: none;
  margin: 0;
  margin-right: 6px;
  padding: 0;
}

.wphc_system_info ul:last-child {
  margin-right: 0;
}

.wphc_system_info ul li:first-child {
  background: -webkit-linear-gradient(#3f4851, #777);
  background: linear-gradient(#3f4851, #777);
  color: #fff;
  text-shadow: 0.5px 0.5px #222;
}

.wphc_system_info ul li {
  background: #fff;
  float: left;
  font-size: 11px;
  margin: 0;
  padding: 1px 8px;
  text-align: center;
}

.wphc_system_info ul li.updated {
  background: #f0f6e6;
  color: #3c881a;
}

.wphc_system_info ul li.obsolete {
  background: #f6e6e6;
  color: #c91616;
}

.wphc_system_info ul li.outdated {
  background: #fffbdc;
  color: #7e7d02;
}

.wphc_stats {
  margin-bottom: 1.1em;
}

.wphc_stats ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wphc_stats ul li {
  float: left;
  margin: 0;
  padding: 0;
}

.wphc_stats ul li:first-child {
  font-weight: bold;
  margin-right: 3px;
}

.wphc_stats ul li:last-child {
  margin-right: 10px;
}

.wphc_stats ul:last-child li:last-child {
  float: none;
  margin-right: 0;
}

.wphc_autoload_status {
  margin: 0;
  margin-top: 0.9em;
  padding: 0;
}

.wphc_autoload_list {
  margin: 0.6em 0;
  padding: 0;
}

.wphc_autoload_list ul {
  display: table-row;
  list-style: none;
  margin: 0;
  padding: 0;
}

.wphc_autoload_list ul:first-child li {
  font-weight: bold;
}

.wphc_autoload_list ul li {
  display: table-cell;
  margin: 0;
  padding: 4px 1px;
}

.wphc_autoload_list ul li.wphc-col-name {
  padding-right: 15px;
}

.wphc_wp_auto_update {
  margin-bottom: 16px;
}

.wphc_wp_auto_update span {
  display: block;
  padding: 3px 0;
}

.wphc_wp_auto_update_error {
  color: #c91616;
}

.wphc_wp_auto_update_fail {
  color: #c91616;
  display: none;
  margin-bottom: 0;
}

.wphc_wp_auto_update_success {
  color: #3c881a;
  display: none;
  margin-bottom: 0;
}

.wphc_wp_auto_update_button {
  margin-bottom: 0;
}

.wphc_loading {
  color: #666;
}

.wphc_internal_notice {
  margin: -0.4em 0 1em 0;
  padding: 0;
}

.wphc_success {
  color: #3c881a;
}

.wphc_error {
  color: #c91616;
}

.wphc_help_btn {
  font-size: 16px !important;
  min-height: 28px !important;
  padding: 0 !important;
  width: 30px;
}

.wphc_support_btns [class^="wphc-icons-"]:before {
  padding-right: 2px;
  vertical-align: text-bottom;
}

@font-face {
  font-family: "wp-healthcheck";
  src:url("fonts/wp-healthcheck.eot");
  src:url("fonts/wp-healthcheck.eot?#iefix") format("embedded-opentype"),
    url("fonts/wp-healthcheck.woff") format("woff"),
    url("fonts/wp-healthcheck.ttf") format("truetype"),
    url("fonts/wp-healthcheck.svg#wp-healthcheck") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "wp-healthcheck" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="wphc-icons-"]:before,
[class*=" wphc-icons-"]:before,
#adminmenu #toplevel_page_wp-healthcheck div.wp-menu-image:before {
  font-family: "wp-healthcheck" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wphc-icons-logo:before {
  content: "\61";
}

.wphc-icons-home:before {
  content: "\63";
}

.wphc-icons-contributors:before {
  content: "\62";
}

.wphc-icons-bug-report:before {
  content: "\64";
}

#adminmenu #toplevel_page_wp-healthcheck div.wp-menu-image:before {
  content: "\61";
}

#adminmenu #toplevel_page_wp-healthcheck div.wp-menu-image img {
  display: none;
}
